!-------------------------------------------
! XFT Settings gre
     
Xft.antialias:  true 
Xft.autohint:   false 
Xft.dpi:        96
Xft.hinting:    true 
Xft.hintstyle:  hintfull 
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb

!--------------------------------------------
! General Colors

#include "/root/.colors/sombra"

!-------------------------------------------
! Man pages colors

*VT100.colorBDMode:                  true
*VT100.colorBD:                      red
*VT100.colorULMode:                  true
*VT100.colorUL:                      cyan   
*VT100.veryBoldColors:               6
